$body-background = #F6F7F8
$text-color      = #778195

$title-color-primary   = #414C5E
$title-color-secondary = #566074

$container-width  = 738px
$container-gutter = 24px

$font-family-primary   = "Open Sans", Helvetica, Arial, sans-serif
$font-family-secondary = "Montserat", sans-serif